{% extends 'base-front.html.twig' %}

{% block main %}

    {{ include('reclamation/reclamationfront.html.twig') }}

    <a href="{{ path('app_reclamation_indexfront') }}">back to list</a>
{% endblock %}
