{% extends 'base-front.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block main %}
<div style="padding:150px">
    <h1>Reset your password</h1>
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
</div>
{% endblock %}
