{% extends 'base-back.html.twig' %}

{% block title %}New Typeabn{% endblock %}

{% block contenu %}
    
      <div class="pagetitle">
      <h1>Create new Typeabn</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('app_typeabn_index') }}">back to list</a></li>
      
        </ol>
      </nav>
    </div><!-- End Page Title -->
    {{ include('typeabn/_form.html.twig') }}

   
{% endblock %}
