<form method="post" action="{{ path('app_alerte_delete', {'idAlerteEve': alerte.idAlerteEve}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ alerte.idAlerteEve) }}">
    <button class="btn">Delete</button>
</form>
