{% extends 'frontend/index.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
   <div class="row" >
		<div class="col-md-6" style="margin-left: 270px;" >

			<div class="panel panel-default" style="box-shadow: 0 0 30px wight;" text-color: "#48C9B0;">

				
					<h4>
						<strong> Calendar</strong>
					</h4>
				</div>

    {{ include('frontend/calendar/_form.html.twig') }}

    <a href="{{ path('app_calendar') }}">back to list</a>
{% endblock %}
