<!DOCTYPE html>
<html>
    <head>
        <meta charset=\"UTF-8\" />
        <title>Reponse ajouté</title>
    </head>
    <body>
        <p>Merci pour votre Réclamation.</p>
        
    </body>
</html>