<!DOCTYPE html>
<html>
    <head>
        <meta charset=\"UTF-8\" />
        <title>Reservation confirmée</title>
    </head>
    <body>
        <p>Merci pour votre réservation.</p>
        <p>Votre code QR est:</p>
    </body>
</html>