<form method="post" action="{{ path('app_offre_delete', {'idOffreEve': offre.idOffreEve}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre.idOffreEve) }}">
    <button class="btn">Delete</button>
</form>
